<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<h1 style="text-align: center;">Update User</h1>

<form action="/admin/update" method="post">
    <input type="hidden" name="id" th:value="${user.id}"/>
    <input type="text" name="name" th:value="${user.username}" required/>
    <input type="text" name="surname" th:value="${user.surname}" required/>
    <input type="number" name="age" th:value="${user.age}" required/>

    <select name="roles" id="roles" multiple required>
        <option th:each="role : ${roles}" th:value="${role.id}"
                th:text="${role.name}"
                th:selected="${user.roles.contains(role)}">
        </option>
    </select>

    <button type="submit">Update User</button>
</form>

</body>
</html>