<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: start;">Users List</h1>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Age</th>
    <th>Operarions</th>
  </tr>
  </thead>
  <tbody>

  <tr th:each="user : ${allUsers}">
    <td th:text="${user.username}"></td>
    <td th:text="${user.surname}"></td>
    <td th:text="${user.age}"></td>
    <td>
      <form action="/users/update" method="get">
        <input type="hidden" name="id" th:value="${user.id}">
        <button type="submit">Update</button>
      </form>
      <form action="/users/delete" method="post">
        <input type="hidden" name="id" th:value="${user.id}">
        <button type="submit">Delete</button>
      </form>
  </tr>

  </tbody>
</table>

<h2 style="text-align: start;">Add New User</h2>
<form action="/users/add" method="post">
  <input type="text" name="name" placeholder="Name" required>
  <input type="text" name="surname" placeholder="Surname" required>
  <input type="number" name="age" placeholder="Age" required>
  <button type="submit">Add User</button>
</form>


</body>
</html>
</html>