<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        .vh {
            height: 100vh;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
        <div class="nav-item text-left text-white px-3 navbar-brand ">
            <span id="navbarUsername"></span>
            <span>with roles:</span>
            <span id="navbarUserRoles"></span>
        </div>
        <ul class="navbar-nav mr-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link px-3" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-2 px-0">
            <div class="d-flex flex-column flex-shrink-0 p-0 text-white">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item" id="adminNavItem">
                        <a href="/admin" class="nav-link no-refresh cursor">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active no-refresh">User</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 bg-light vh">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="userInfo" role="tabpanel">
                    <div class="container-fluid">
                        <h2>User Information</h2>
                        <div class="card">
                            <div class="container-fluid px-0 bg-light border">
                                <h5 class="card-header">About User</h5>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Surname</th>
                                    <th>Age</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td id="id"></td>
                                    <td id="username"></td>
                                    <td id="surname"></td>
                                    <td id="age"></td>
                                    <td id="roles"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/userProfile.js"></script>
<script src="/js/currentUser.js"></script>
</body>
</html>