<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личная страница</title>
</head>
<body>
<h1>Добро пожаловать, <span th:text="${user.username}"></span>!</h1>
<p>Ваши данные:</p>
<ul>
    <li>Имя: <span th:text="${user.username}"></span></li>
    <li>Фамилия: <span th:text="${user.surname}"></span></li>
    <li>Возраст: <span th:text="${user.age}"></span></li>
    <li>Роли:
        <ul>
            <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
        </ul>
    </li>
</ul>


<br/>
<form th:action="@{/logout}" method="post">
    <button type="submit">Sign Out</button>
</form>
<br/>

</body>
</html>